@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn {
  border-radius: 100px;
}

.btn-primary {
  background-color: #212121;
  border-color: #212121;
}
.btn-primary:hover {
  background-color: #616161;
  border-color: #616161;
}

.btn-link {
  color: #01579B;
}
.btn-link:hover {
  background: rgb(207.3076923077, 233.7692307692, 254.6923076923);
}

.btn-icon {
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: center;
}
.btn-icon a {
  color: transparent !important;
}
.btn-icon a:hover {
  background-color: transparent !important;
}
.btn-icon.linkedin {
  background-image: url(../img/icons/linkedin.png);
  background-size: 20px;
}
.btn-icon.github {
  background-image: url(../img/icons/github.png);
  background-size: 24px;
}
.btn-icon.slack {
  background-image: url(../img/icons/slack.png);
}
.btn-icon.gmail {
  background-image: url(../img/icons/gmail.png);
}

a {
  color: #01579B;
}
a:hover {
  color: rgb(0.5096153846, 44.3365384615, 78.9903846154);
  background: rgb(207.3076923077, 233.7692307692, 254.6923076923);
  transition: all 0.2s ease-in-out;
}

h1, h2, h3, h4 {
  color: #212121;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  position: relative;
}
h1 span {
  display: inline-block;
  position: absolute;
  left: -2.25rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

h4 {
  font-size: 1.2rem;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-sm {
  font-size: 0.75rem;
}

.text-md {
  font-size: 0.9rem;
}

.home-hero-title {
  font-size: 28px;
}
@media (min-width: 768px) {
  .home-hero-title {
    font-size: 42px;
  }
}
@media (min-width: 1200px) {
  .home-hero-title {
    font-size: 56px;
  }
}

.lead {
  font-size: 1rem;
}

body {
  font-family: "Inter", sans-serif;
  color: #616161;
  background: #FFFFFF;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-black {
  background-color: #212121 !important;
}

.bg-secondary {
  background-color: #F6C44C !important;
}
.bg-secondary p {
  color: #eed394;
}

.color-gray {
  color: #616161;
}

.color-light {
  color: #E0E0E0;
}

.color-white {
  color: #FFFFFF;
}

.border {
  border-color: #E0E0E0 !important;
}

.hover-bg-light:hover {
  background-color: rgb(249.5, 249.5, 249.5);
  transition: all;
}

.img-wrapper img {
  height: 100%;
  max-width: 100%;
}

@media (max-width: 991px) {
  .hero .btn {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 991px) {
  .img-avatar-responsive img {
    width: 200px;
    margin: 0 auto 16px;
  }
}

.project-list-item {
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #616161;
  border-radius: 12px;
}
.project-list-item h5 {
  font-weight: bold;
  font-size: 1rem;
}

@media (max-width: 991px) {
  .feature-work h2 {
    text-align: center;
  }
  .feature-work .responsive-fixes {
    display: block !important;
    width: 100% !important;
    text-align: center;
    margin-top: 8px;
  }
}

section {
  animation: fade-in-up 0.6s forwards;
}

.tools-list li {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  height: fit-content;
  color: transparent;
}
.tools-list li.mixpanel {
  background-image: url(../img/icons/mixpanel.png);
}
.tools-list li.fullstory {
  background-image: url(../img/icons/fullstory.png);
}
.tools-list li.dovetail {
  background-image: url(../img/icons/dovetail.png);
}
.tools-list li.g-documents {
  background-image: url(../img/icons/documents.png);
}
.tools-list li.g-sheets {
  background-image: url(../img/icons/sheets.png);
}
.tools-list li.figma {
  background-image: url(../img/icons/figma.png);
}
.tools-list li.miro {
  background-image: url(../img/icons/miro.png);
}
.tools-list li.jira {
  background-image: url(../img/icons/jira.png);
}
.tools-list li.html {
  background-image: url(../img/icons/html.png);
}
.tools-list li.github-white {
  background-image: url(../img/icons/github-white.png);
}
.tools-list li.nextjs {
  background-image: url(../img/icons/next.png);
}
.tools-list li.react {
  background-image: url(../img/icons/react.png);
}
.tools-list li.angular {
  background-image: url(../img/icons/angular.png);
}

.navbar-brand {
  font-weight: 700;
  color: #212121;
}
.navbar-brand:hover {
  background-color: #FFFFFF;
}
.navbar-brand span {
  font-weight: normal;
  font-size: 0.75rem;
}
@media (max-width: 991px) {
  .navbar-brand span {
    display: block;
    margin-left: -3px;
    font-size: 0.9rem;
  }
}

.navbar-nav li a {
  font-weight: 500;
  color: #212121;
  position: relative;
  margin-right: 1rem;
}
.navbar-nav li a:not(.btn)::after {
  content: " ";
  display: block;
  width: 1.5rem;
  height: 2px;
  position: absolute;
  bottom: 0.25rem;
  left: -0.5rem;
  background-color: #212121;
  opacity: 0;
}
.navbar-nav li a:hover::after {
  left: 0.5rem;
  opacity: 1;
  transition: 0.15s;
}
.navbar-nav li a.active {
  color: #616161 !important;
  border-bottom-color: #616161;
}
.navbar-nav li a.active::after {
  left: 0.5rem;
  background-color: #616161;
  opacity: 1;
}
.navbar-nav li a.btn {
  color: #FFFFFF !important;
  padding: 0 0.75rem !important;
}
@media (max-width: 991px) {
  .navbar-nav {
    text-align: end;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .navbar-nav .nav-link.btn {
    display: inline-block;
  }
}

.dotted-list {
  display: inline-block;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
.dotted-list li {
  float: left;
  text-align: center;
  display: inline-block;
  margin: 5px 8px;
  line-height: 1.5;
}

.facebook,
.instagram,
.linkedin {
  background-repeat: no-repeat;
  background-size: 16px;
}

.facebook {
  background-image: url(../img/icon-facebook.png);
}

.instagram {
  background-image: url(../img/icon-instagram.png);
}

.linkedin {
  background-image: url(../img/icon-linkedin.png);
}

form {
  margin: 32px 0;
  overflow: hidden;
  width: 640px;
  max-width: 100%;
}

input,
textarea {
  border: 0;
  border-bottom: 1px solid #212121;
  padding: 12px;
  width: 100%;
  margin-bottom: 32px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: #212121;
}
input::placeholder,
textarea::placeholder {
  color: #616161;
}

.comments-carousel {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 960px) {
  .comments-carousel {
    width: 60%;
  }
}
.comments-carousel .carousel-indicators {
  bottom: -1.5rem;
}
.comments-carousel .carousel-indicators [data-bs-target] {
  background-color: #616161;
}
.comments-carousel .bi {
  margin-right: 0.25rem;
}

/*# sourceMappingURL=styles.css.map */
