@import "variables";
@import "media";
@import "animations";

.btn{
    border-radius: $default-border-radius;
}

//Primary button
.btn-primary {
    background-color: $color-black;
    border-color: $color-black;
    &:hover {
        background-color: $color-gray;
        border-color: $color-gray;
    }
}

// Btn-link as secondary buttons
.btn-link{
    color: $color-interactive;
    &:hover{
        background: $color-primary-lighter;
    }
}

//Buttons that are only icons
.btn-icon{
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: center;
    a{
        color: transparent !important;
        &:hover{
            background-color: transparent !important;
        }
    }
    &.linkedin{
        background-image: url(../img/icons/linkedin.png);
        background-size: 20px;   
    }
    &.github{
        background-image: url(../img/icons/github.png);
        background-size: 24px;
    }
    &.slack{
        background-image: url(../img/icons/slack.png);
    }
    &.gmail{
        background-image: url(../img/icons/gmail.png);
    }
}
