@import "variables";


//Primary button
.btn-primary {
    background-color: $color-primary;
    border-color: $color-primary;

    &:hover {
        background-color: $color-primary-darker;
        border-color: $color-primary-darker;
    }
}

//Secondary button
.btn-outline-secondary{
    border-color: $color-primary;
    color: $color-primary;

    &:hover {
        border-color: $color-primary-lighter;
        background-color: $color-primary-lighter;
        color: $color-primary;
    }
}