@import "variables";

form {
    margin: 32px 0;
    overflow: hidden;
    width: 640px;
    max-width: 100%;
}

input,
textarea {
    border: 0;
    border-bottom: 1px solid $color-dark;
    padding: 12px;
    width: 100%;
    margin-bottom: 32px;
    font-size: 14px;
    font-family: $font-primary;
    color: $color-dark;

    &::placeholder {
        color: $color-gray;
    }
}