@import "variables";
@import "media";


.navbar-brand {
    font-weight: $font-weight-bold;
    color: $color-black;
    &:hover{
        background-color: $color-white;
    }
    span {
        font-weight: $font-weight-normal;
        font-size: $font-size-small;

        @include respond("tablet") { 
            display: block;
            margin-left: -3px;
            font-size: 0.9rem;
        }


    }
}
.navbar-nav {
    li{
        a {
            font-weight: $font-weight-semi;
            color: $color-black;
            position: relative;
            margin-right: 1rem;
            &:not(.btn)::after{
                content: " ";
                display: block;
                width: 1.5rem;
                height: 2px;
                position: absolute;
                bottom: 0.25rem;
                left: -0.5rem;
                background-color: $color-black;
                opacity: 0;
            }
            
            &:hover {
                &::after{
                    left: 0.5rem;
                    opacity: 1;
                    transition: 0.15s; 
                }
             }
            &.active{
                color: $color-gray !important;
                border-bottom-color: $color-gray;
                &::after{
                    left: 0.5rem;
                    background-color: $color-gray;
                    opacity: 1;
                }
            }
            &.btn{
                color: $color-white !important;
                padding: 0 0.75rem !important;
            }
        }
    }
    @include respond("tablet") { 
        text-align: end;
        padding-top: 16px;
        padding-bottom: 16px;
        .nav-link.btn{
            display: inline-block;
        }
    }
}
