@import "variables";

.navbar{
    background-color: $color-white;
    box-shadow: $default-box-shadow;
    border-bottom: 1px solid rgba($color-dark, 0.05);
}

// este no lo nesteo porque sino el selector me queda larguisimo
.navbar-brand {
    font-size: 16px;
    font-weight: bold;
    padding-left: 80px;
    background: url(../img/logo.png) no-repeat left center / 64px;
    color: $color-secondary;
    span {
        display: block;
        margin-top: -4px;
        font-size: 12px;
        font-weight: 400;
        color: $color-dark;
    }
}

.navbar-nav {
    li{
        a {
            color: $color-dark;
            text-decoration: none;
            &:hover {
                color: $color-secondary-darker;
             }
            &.active{
                color: $color-secondary !important;
            }
        }
    }
}


//a.nav-link.active {
//    color: $secondary !important;
//}
