@import "variables";
@import "media";

body {
    font-family: $font-primary;
    color: $color-gray;
    background: $color-white;
}

// Background classes
.bg-white {
    background-color: $color-white;
}

.bg-black{
    background-color: $color-black !important;
}

.bg-secondary {
    background-color: $color-secondary !important;
    p{
        color: $color-secondary-lighter;
    }
}

// Text classes
.color-gray{
    color: $color-gray;
}

.color-light{
    color: $color-light;
}

.color-white{
    color: $color-white;
}

//Border classes
.border{
    border-color: $color-light !important;
}

// Hover effects
.hover-bg-light{
    &:hover{
        background-color: lighten($color-light, 10%);
        transition: all;
    }
}

//Clases para imagenes
.img-wrapper{
    img{
        height: 100%;
        max-width: 100%;
    }
}

// Section-specific classes

.hero{
    @include respond("tablet"){
        .btn{
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}

//mi foto al principio
.img-avatar-responsive{
    @include respond("tablet") { 
        img{
            width:200px;
            margin: 0 auto 16px;
        }
    }
}


// revisar arriba

//





// Para la lista de proyectos
.project-list-item{
    padding-top: $default-padding;
    padding-bottom: $default-padding;
    border: 1px solid $color-gray;
    border-radius: 12px;
    h5{
        font-weight: bold;
        font-size: 1rem;
    }
}



//feature work title
.feature-work{
    @include respond("tablet") { 
        h2{
            text-align: center;
        }
        .responsive-fixes{
            display: block !important;
            width: 100% !important;
            text-align: center;
            margin-top: 8px;
        }
    }
}



section{
    animation: fade-in-up 0.6s forwards;
}


//Icons
.tools-list{
    li{
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 1.5rem;
        height: 1.5rem;
        overflow: hidden;
        height: fit-content;
        color: transparent;
        &.mixpanel{
            background-image: url(../img/icons/mixpanel.png);
        }
        &.fullstory{
            background-image: url(../img/icons/fullstory.png);
        }
        &.dovetail{
            background-image: url(../img/icons/dovetail.png);
        }
        &.g-documents{
            background-image: url(../img/icons/documents.png);
        }
        &.g-sheets{
            background-image: url(../img/icons/sheets.png);
        }
        &.figma{
            background-image: url(../img/icons/figma.png);
        }
        &.miro{
            background-image: url(../img/icons/miro.png);
        }
        &.jira{
            background-image: url(../img/icons/jira.png);
        }
        &.html{
            background-image: url(../img/icons/html.png);
        }
        &.github-white{
            background-image: url(../img/icons/github-white.png);
        }
        &.nextjs{
            background-image: url(../img/icons/next.png);
        }
        &.react{
            background-image: url(../img/icons/react.png);
 
        }
        &.angular{
            background-image: url(../img/icons/angular.png);

        }
    }
}
