@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

//Colors
$color-primary-lighter: #ffc5c5;
$color-primary: #FF6464;
$color-primary-darker: #b54646;

$color-secondary-lighter: #B1F3FE;
$color-secondary: #00A8CC;
$color-secondary-darker: #046d84;


$color-dark: #21243D;
$color-gray: #8695A4;
$color-light: #EDF7FA;
$color-white: #FFFFFF;

//Fonts
$font-primary: "Roboto", serif;

//Estilos generales para mantener coherencia
$hover-transitions: all 0.2s ease-in-out;
$default-box-shadow: 0 0 5px rgba($color-dark, 0.04);
