<!-- components/footer.html-->
<footer class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="date-time">
                <p class="text-md mb-0 text-sm">my local date and time:</p>
                <p id="datetime" class="text-md local-date-time text-sm"><i class="bi bi-calendar-heart"></i> Tue 22 Apr 14:19hrs</p>
            </div>
            
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 align-items-center">
            <div class="d-flex justify-content-center avatar">
                <img id="footer-avatar" src="/img/avatar-1.png" class="d-block" alt="Nat Consonni. Full-Stack Designer / UI Developer" width="32" height="32" loading="lazy">
                <span class="status"></span>
            </div>
            <p class="text-center mt-2"><strong>Nat Consonni.</strong><span class="d-block text-sm">Full-Stack Designer / UI Developer</span></p>
            <ul class="list-inline d-inline-flex align-items-center my-4">
                <li class="list-inline-item btn-icon linkedin mx-2"><a href="https://www.linkedin.com/in/nat-consonni" title="Link to my LinkedIn profile.">LinkedIn</a></li>
                <li class="list-inline-item btn-icon github mx-2"><a href="#" title="Link to my GitHub public profile.">GitHub</a></li>
                <li class="list-inline-item btn-icon slack mx-2"><a href="https://join.slack.com/t/natconsonni/shared_invite/zt-349rhe6sm-YvCmcdmJdbQpPJZRm4L~sw" title="Let's chat over Slack!">Slack</a></li>
                <li class="list-inline-item btn-icon gmail mx-2"><a href="mailto:nat.consonni@gmail.com" title="Send me an email.">Gmail</a></li>
                <li class="list-inline-item mx-2"><a class="btn btn-primary btn-sm" target="_blank" href="pdf-files/Nat_Consonni_FullStack_Designer_CV_2025.pdf" title="Download my resume."><i class="bi bi-download"></i> download resume</a></li>
            </ul>

            <p class="text-sm text-center">©2025 Nat Consonni · All rights reserved.</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="d-flex flex-row-reverse">
                <a id="backToTop" href="#" class="btn btn-sm btn-link">back to top ↑</a>
            </div>
        </div>
    </div>
</footer>
