<div class="container hero py-5">
    <div class="alert alert-warning" role="alert">
        <i class="bi bi-cone-striped"></i> This portfolio is under construction
    </div>
    <div class="row py-5">
        <div class="col-sm-12 col-md-7 col-lg-7">
            <div class="avatar mb-3">
                <img src="img/avatar-1.png" class="d-block" alt="Nat Consonni. Full-Stack Designer / UI Developer" width="64" height="64" loading="lazy">
                <span class="status"></span>
            </div>
             <h1 class="mb-3"><span><</span>designing with intent;<br>developing with clarity /></h1>
            <p>With <strong>10+ years of experience</strong> in crafting user-centred, data-driven digital solutions, I'm passionated about crafting seamless, high-impact experiences. I blend UX/UI design with front-end development to drive business growth and user engagement.</p>
            <ul class="list-inline d-inline-flex align-items-center">
                <li class="list-inline-item btn-icon linkedin mx-2"><a href="https://www.linkedin.com/in/nat-consonni" title="Link to my LinkedIn profile.">LinkedIn</a></li>
                <li class="list-inline-item btn-icon github mx-2"><a href="#" title="Link to my GitHub public profile.">GitHub</a></li>
                <li class="list-inline-item btn-icon slack mx-2"><a href="https://join.slack.com/t/natconsonni/shared_invite/zt-349rhe6sm-YvCmcdmJdbQpPJZRm4L~sw" title="Let's chat over Slack!">Slack</a></li>
                <li class="list-inline-item btn-icon gmail mx-2"><a href="mailto:nat.consonni@gmail.com" title="Send me an email.">Gmail</a></li>
                <li class="list-inline-item mx-2"><a class="btn btn-primary btn-sm" target="_blank" href="pdf-files/Nat_Consonni_FullStack_Designer_CV_2025.pdf" title="Download my resume."><i class="bi bi-download"></i> download resume</a></li>
            </ul>
        </div>
        
        <!-- <div class="col-sm-12 col-md-5 col-lg-5 img-avatar-responsive">
          <img src="img/nat-consonni-senior-product-designer.png" class="d-block mx-lg-auto img-fluid rounded" alt="Nat Consonni Senior Product Designer" width="663" height="660" loading="lazy">
        </div> -->
      
    </div>
</div>
